@import 'defaults';


.user-previews {
  width: 100%;
  height: 100vh;
  font-size: 0.5rem;

  &__nav {
    background: #F7F7F7;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__edit {
    color: #357AF6;
    font-size: 0.95rem;
  }

  &__new {
    color: #357AF6;
    font-size: 0.95rem;
  }
}
