@import 'defaults';

.room-preview {
  display: flex;
  height: 65px;
  max-width: 400px;
  padding-top: 2px;

  &__avatar {
    // flex-grow: 2;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
  }

  &__img {
    border-radius: 50%;
    max-width: 43px;
    max-height: 43px;
  }

  &__preview-info {
    // flex-grow: 10;
    height: 100%;
    color: #8e8e92;
    font-size: 0.8rem;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    flex-direction: column;
    min-width: 280px;
  }

  &__room-name {
    padding-top: 15px;
    padding-right: 5px;
  }

  &__name {
    color: #000000;
    font-size: 0.9rem;
  }

  &__room-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__chevron {
    // flex-grow: 1;
    height: 100%;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #8e8e92;
    min-width: 25px;
  }
}
